# local . terraform dir
.terraformlocal/*
**/.terraform/*

# tf state files
*.tfstate
*.tfstate.*

# tf varaible files, may include sensitive data
*.tfvars

#ignore CLI configuration files
.terraformrc
terraform.rc
